<html>
<head>
 <title>Page</title>
 <link rel='stylesheet' href='../static/style.css' />
</head>
<body>
	
<h1> Status Diody Czerwonej --> {{ledRed}} </h1>
<h1> Przyciski Diody Czerwonej ==> <a href = "/ledRed/on" class="button">TURN ON</a>
<a href="/ledRed/off" class = "button">TURN OFF</a></h3>
<h1> Status Przekaźnika(Załączany stanem niskim) --> {{relay}}</h1>
<h1> Przyciski Przekaźnika ==><a href = "/relay/on" class = "button">TURN ON</a>
<a href="/relay/off" class = "button">TURN OFF</a></h1>

<h1>Sterowanie wypelnieniem:</h1>
  <h1><form method = "POST" action = "/getValue"> 
      <input type="range" min="0" max="100" name = "slider" />
      <input type="submit" value="submit" />
      Aktualna Wartość -->{{submitValue}} 
  </form>
</h1>
</body>
</html>

