<html>
<head>
 <title>Page</title>
 <link rel='stylesheet' href='../static/style.css' />
</head>
<body>
	
<h1> Status Diody Czerwonej --> {{ledRed}} </h1>
<h1> Przyciski Diody Czerwonej ==> <a href = "/ledRed/on" class="button">WŁĄCZ</a>
<a href="/ledRed/off" class = "button">WYŁĄCZ</a></h3>
<h1> Status Przekaźnika(Załączany stanem niskim) --> {{relay}}</h1>
<h1> Przyciski Przekaźnika ==><a href = "/relay/on" class = "button">WŁĄCZ</a>
<a href="/relay/off" class = "button">WYŁĄCZ</a></h1>

<h1>Sterowanie wypelnieniem:</h1>
  <h2>
    <form method = "POST" action = "/getValue"> 
      <input type="range" min="0" max="100" name = "slider" />
      <input type="submit" value="potwierdź" />
      Aktualna Wartość -->{{submitValue}} </h2>
  </form>
</h2>

<h1>
Ustaw wartość wyzwolenia alarmu z czujnika gazu(0,1000) 
<form method="POST" action = "/setValue">
    <input name="text">
    <input type="submit" value = "potwierdź">
</form>
</h1>
<h1>
  Nowy odczyt wartości z czujnika gazu: 
  <a href="/readFromMq7" class = "button" >ODCZYT</a></h1>
  <h2>Wartość z czujnika gazu(przedział 0,1000) --> {{mq7Value}}</h2>
</body>
</html>

