<html>
<head>
 <title>Page</title>
 <link rel='stylesheet' href='../static/style.css' />
</head>
<body>
	
<h1>Actuators</h1><br>
<h2>Status</h2>

<h3> RED LED --> {{ledRed}} </h3>
<h3> RED LED CNTRL ==> <a href = "/ledRed/on" class="button">TURN ON</a>
<a href="/ledRed/off" class = "button">TURN OFF</a></h3>
<h3> RELAY --> {{relay}}</h3>
<h3> RELAY CNTRL ==><a href = "/relay/on" class = "button">TURN ON</a>
<a href="/relay/off" class = "button">TURN OFF</a></h3>

<h3>Sterowanie wypelnieniem:</h3>
  <h3><form method = "POST" action = "/getValue"> 
      <input type="range" min="0" max="100" name = "slider" />
      <input type="submit" value="submit" />
      Aktualna Wartość -->{{submitValue}} 
  </form>
</h3>
</body>
</html>

